/**** 

Override "some" styling in the Shortlist - 2014 Release Version
Github Repo: https://github.com/coreybaker/ShortlistCustomStyling

****/

				/*** Body & HTML Styles ***/

html, body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

				/*** Header Customization ***/
	 

#header {
background:#42BCBF; /* Leave this as a fall back in case you image doesn't load*/
background: url("http://storymaps.arcgis.com/img/banner.jpg?1389895343");
background-repeat: no-repeat; /*Sometimes you will need to take this off if you're image isn't big enough*/
/*I put a Responsive Images Solution in below to mitigate*/
}

#title, #subtitle {
color:#D36C44;
font-size:2em;
}

#subtitle {
	display:none; 
}

#divStrip {
background:#969696;
}

				/*** Selection Tabs Customization & Bookmarks ***/

.tab, #bookmarksToggle, #bookmarksDiv {
background:#75706A;
}

.tab:hover, #bookmarksToggle:hover, #bookmarksDiv:hover {
background:#D36C44;
}

.tab-selected {
background:#D36C44;
}

				/*** Popup Customization ***/


/* Changes the color, background-color, font, or whatever in the pop-up title */

.esriPopup .titlePane {
background:#D36C44;
}

/* Changes the color, background-color, font, or whatever in the actual body of the popup */

.esriPopup .contentPane, .esriPopup .actionsPane {
background:#787F7F;
color:#fff;
}

/* Changes the color of the popup link titled "Details" */

.infoWindowLink {
color:#D36C44;
}

.infoWindowLink:hover {
color:#fff;
}

/** Left Pane Customizaiton **/

#paneLeft {
background:#D36C44;	
}

				/* Media Queries for Different Screen Widths */


/* Screen larger than 1,927 Pixels (i.e. this is because this is where my image doesn't repeat) */

@media all and (min-width:1927px) {

	#header {
		background:#42BCBF;
	}

}

/* Screens Smaller 1227px */

@media all and (max-width:1227px) {

	#header {
		background: url("https://dl.dropboxusercontent.com/u/65537348/bannerMed.jpg");
	}

}

/* Screens Like Tablets */

@media all and (max-width:780px) {
	#header {
		background: url("https://dl.dropboxusercontent.com/u/65537348/bannerSmall.jpg");
	}
}